/*  -- 项目通用样式 -- */


body,
html {
  color: #333333;
  font-size:24px;
  font-size: 1rem;
}

.bg {
  min-height: 100vh;
  background-size: 100% 136px;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

.text-cut {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.text-cut-2 {
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}

.placeholder-color {
  color: var(--van-gray-5);
}

.tab-style {
  position: relative;
  z-index: 2;

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
  }
}

// .tab-primary-to-light {
// 	@extend .tab-style;

// 	&:before {
// 		width: 105px;
// 		height: 38px;
// 		background: url('@/static/img/common/icon-tab-gradient.png');
// 		background-size: 100% 100%;
// 		bottom: 0px;
// 	}
// }

// .tab-primary-to-light-short {
// 	@extend .tab-style;

// 	&:before {
// 		width: 83px;
// 		height: 34px;
// 		background: url('@/static/img/common/icon-short-tab-gradient.png');
// 		background-size: 100% 100%;
// 		bottom: -2px;
// 		margin-left: -2px;
// 	}
// }

// .tab-gray-short {
// 	@extend .tab-style;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-width: 94px;

// 	&:before {
// 		width: 94px;
// 		height: 42px;
// 		background: url('@/static/img/common/icon-short-tab-gray.png');
// 		background-size: 100% 100%;
// 		bottom: -5px;
// 	}
// }

// .tab-blue-short {
// 	@extend .tab-style;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	color: #0072C1;
// 	min-width: 96px;

// 	&:before {
// 		width: 96px;
// 		height: 42px;
// 		background: url('@/static/img/common/icon-short-tab-blue.png');
// 		background-size: 100% 100%;
// 		bottom: -5px;
// 	}
// }

// .tab-yellow-short {
// 	@extend .tab-style;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	color: $primary-light;

// 	&:before {
// 		width: 96px;
// 		height: 42px;
// 		background: url('@/static/img/common/icon-short-tab-yellow.png');
// 		background-size: 100% 100%;
// 		bottom: -5px;
// 	}
// }

// .info-tags-item {
// 	background: linear-gradient(270deg, #FEB24B 0%, #FF9100 100%);
// 	background-repeat: no-repeat;
// 	border-radius: 7px 7px 25px 7px;
// 	height: 30px;
// 	line-height: 30px;
// 	color: #fff;
// 	text-align: center;
// 	font-size: 18px;
// 	padding: 0 11px;
// 	font-weight: 500;
// 	margin-right: 11px;
// }

// .empty-box {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	position: relative;
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// }

/* ==================
          布局
 ==================== */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*  -- flex弹性布局 -- */

.flex {
  display: flex;
}

.basis-20 {
  flex-basis: 20%;
}

.basis-40 {
  flex-basis: 40%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-60 {
  flex-basis: 60%;
}

.basis-80 {
  flex-basis: 80%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-direction {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: flex-center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}
