:export {
  primary: $primary;
  primaryLight: $primary-light;
  success: $success;
  warning: $warning;
  warningLight: $warning-light;
  danger: $danger;
  // wechatColor: $wechat-color;
  // alipayColor: $alipay-color;
}
